<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Zodio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5FE26BA1E91F36B00CFCFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5FE26CE1E91F36C00CFCFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5FE26D91E91F36C00CFCFDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
